<h2 class="text-center">About Me</h2>
<p>Hey, I'm David Hatcher. This will be my development portfolio, I will be sharing all of my projects and things I learn throughout these projects along with things I learn in my future classes. I am pretty new to coding in general and hoping to learn as much as possible as quickly as I can. I start classes for programming in May 2019 and will hopefully be finished with my Bachelors Degree in 2020-2021. In my free time, when I'm not coding, I enjoy playing video games, watching tv, and playing with my dog.</p>

<ul class="inline-list text-center" id="contact-icons">
    <li class="list-inline-item"><a href="mailto:david.milton.hatcher@gmail.com"><i class="fas fa-envelope-square fa-2x"></i></a></li>
    <li class="list-inline-item"><a href="tel:863-333-8029"><i class="fas fa-phone-square fa-2x"></i></a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/in/david-hatcher-a7539341/"><i class="fab fa-linkedin fa-2x"></i></a></li>
</ul>