<footer class="fixed-bottom">
	<div class="row">
		<div class="col text-center">
			<ul class="list-inline">
				<hr>
				<li class="list-inline-item"><a href="mailto:david.milton.hatcher@gmail.com"><i class="far fa-envelope fa-3x"></i></a></li>
				<li class="list-inline-item"><a href="https://github.com/david-hatcher"><i class="fab fa-github-alt fa-3x"></i></a></li>
			</ul>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/typeit@6.0.2/dist/typeit.min.js"></script>
	<script type="text/javascript" src = "assets/js/site.js"></script>
</footer>