<!DOCTYPE html>
<html lang="en">
        {% include head.html %}  
<body>
	<div class="container-fluid">
		<nav class="fixed-top">
				<ul class="nav justify-content-end">
					<li class="nav-item">
						{% if page.dir == "/" %}
							<a class="nav-link active" href="/">Home</a>
						{% else %}
							<a class="nav-link" href="/">Home</a>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if page.dir == "/about/" %}
							<a class="nav-link active" href="/about">About</a>
						{% else %}
							<a class="nav-link" href="/about">About</a>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if page.dir == "/resume/" %}
							<a class="nav-link active" href="/resume">Resume</a>
						{% else %}
							<a class="nav-link" href="/resume">Resume</a>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if page.dir == "/blog/" %}
							<a class="nav-link active" href="/blog">Blog</a>
						{% else %}
							<a class="nav-link" href="/blog">Blog</a>
						{% endif %}
					</li>
				</ul>
		</nav>
		<div class="row bio-image">
			<div class="col-sm text-center">
				<img src ="/images/Headshot.png" class="img-fluid" />
			</div>
		</div>
		<div class="row name-logo">
			<div class="col text-center">
				<svg xmlns="http://www.w3.org/2000/svg" id="logo" viewBox="0 0 1252 135" width="350px">
					<path fill="none" d="" />
				</svg>
			</div>
		</div>
		<div class="row content-container">
			<div class="col-sm-4 offset-sm-4">
					{{ content }}
			</div>
		</div>
		{% include footer.html %}  
	</div>
</body>
</html>