<!DOCTYPE html>
<html lang="en">
        {% include head.html %}  
<body>
	<div class="container-fluid">
		{% include nav.html %}
		<div class="row bio-image">
			<div class="col-sm text-center">
				<img src ="/images/Headshot.png" class="img-fluid" />
			</div>
		</div>
		<div class="row name-logo">
			<div class="col text-center">
				<h1 id="name"></h1>
			</div>
		</div>
		<div class="row titles-logo">
			<div class="col text-center" id="titles"></div>
		</div>
		<section id="intro">
			<div class="row content-container">
				<div class="col-sm-4 offset-sm-4">
						{{ content }}
				</div>
			</div>
		</section>
		<section id="about">
			<div class="row content-container">
				<div class="col-sm-4 offset-sm-4">
					{% include about.html %}
				</div>
			</div>
		</section>
		<section id="blog">
			<div class="row content-container">
				<div class="col-sm-4 offset-sm-4">
					{% include blog.html %}
				</div>
			</div>
		</section>
		{% include footer.html %}  
	</div>
</body>
</html>