<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div>
    <footer>
        <ul>
            <li><a href="mailto:david.milton.hatcher@gmail.com"><i class="far fa-envelope"></i></a></li>
            <li><a href="https://github.com/david-hatcher"><i class="fab fa-github-alt"></i></a></li>
        </ul>
    </footer>
</body>
</html>